<!DOCTYPE html>
<html>
<head>
  <title>Markdown Editor</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>  
  
  <!-- https://github.com/jbt/markdown-editor -->
  <%= javascript_include_tag "marked" %>
  <%= javascript_include_tag "highlight.pack.js" %>  
  <%= javascript_include_tag "codemirror/lib/codemirror" %>    
  <%= javascript_include_tag "codemirror/xml/xml" %>
  <%= javascript_include_tag "codemirror/markdown/markdown" %>
  <%= javascript_include_tag "codemirror/gfm/gfm" %>  
  <%= javascript_include_tag "codemirror/javascript/javascript" %>    
  <%= javascript_include_tag "rawinflate" %>  
  <%= javascript_include_tag "rawdeflate" %>    
  <%= stylesheet_link_tag "codemirror/lib/codemirror" %>
  <%= stylesheet_link_tag "tomorrow.theme" %>
  <!-- Custom markdown-editor page style and init markdown editor. -->  
  <%= stylesheet_link_tag "init_markdown_editor" %>   
</head>
<body>
  <div id="in">
    <%= form_for @article do |f| %>
      <%= f.text_area(:content, :id => 'code')%>
      <%= submit_tag "Save", id: "save_content_btn", style: "display:none" %>  
    <% end %>
  </div>
  <div id="out"></div>
  <div id="edit_content_footer">
    <%= link_to "Save", "javascript:void(0)", class: "btn btn-mini btn-primary", id: "save_btn" %>
    <a href="#syntax_cheatsheet" role="button" class="btn btn-mini" data-toggle="modal">Help</a>
    <%= link_to "Back", article_path(@article), class: 'btn btn-mini' %>
  </div>
  <%= render "articles/syntax_cheatsheet" %>
  <%= javascript_include_tag "init_markdown_editor" %>  
  <script type="text/javascript" charset="utf-8">
    $(function() {
      $("#save_btn").click(function() {
        $("form").submit();
      })
    })
  </script>
</body>
</html>