.article_title.clearfix
  %h1 Editing article
  = link_to content_tag(:span, content_tag(:i, nil, class: 'icon-share icon-white') + ' Show', class: 'label label-info'), @article, class: "show_article"
  = link_to content_tag(:span, content_tag(:i, nil, class: 'icon-edit icon-white') + ' Update Content', class: 'label label-info'), edit_content_article_path(@article), class: "edit_article_content"  
= render 'form'