.article_listing.clearfix
  %h1 Listing articles
  - @articles.each do |article|
    .article_wrap.row
      .text_warp{ class: layout_with_screenshot(article)}
        .article_title_wrap.clearfix
          %span.number= "##{article.id}"
          %h2= link_to article.title, article
          %span.date
            %i.icon-time
            = article.updated_at.to_s(:nice_time)
          %span.tags
            %i.icon-tags
            = tag_list_with_link(article)
      
        .article_summary_wrap
          = article.summary
          
      - if article.screenshot?
        .image_warp.span2
          %div
            = link_to image_tag(article.screenshot_url), article

= paginate @articles
.page_entries_info= page_entries_info @articles