.article_title.clearfix
  %h1
    %span= "##{@article.id}"
    = @article.title
  - if authorize?
    = link_to content_tag(:span, content_tag(:i, nil, class: 'icon-edit icon-white') + ' Edit', class: 'label label-info'), edit_article_path(@article), class: "edit_article"
    = link_to content_tag(:span, content_tag(:i, nil, class: 'icon-edit icon-white') + ' Update Content', class: 'label label-info'), edit_content_article_path(@article), class: "edit_article_content"
.article_summary
  .row
    .tags
      Tags:
      - @article.tags.each do |tag|
        = link_to tag.name, articles_path(tag: tag.name)
    .download
      = link_to content_tag(:span, content_tag(:i, nil, class: 'icon-download-alt icon-white') + ' Download Video', class: 'label label-success'), @article.video, target: "_blank" unless @article.video.blank?
  - unless @article.summary.blank?
    .summary= simple_format @article.summary

= render "content"
