<h3>Phrase Emphasis</h3>
<div>
  <pre><code>*italic*   **bold**</code></pre>
</div>

<h3>Links</h3>
<div>
  <pre><code>An [example](http://url.com/ "Title")</code></pre>
</div>

<h3>Images</h3>
<div>
  <pre><code>![alt text](/path/img.jpg "Title")</code></pre>
</div>

<h3>Headers</h3>
<div>
  <pre><code>## Header 2<br />### Header 3</code></pre>
</div>

<h3>Lists</h3>
<div>
  <pre><code><span>1. Foo</span><span>2. Bar</span></code></pre>
</div>

<h3>Lists with nest</h3>
<div>
  <pre><code><span>* Abacus</span><span>  * answer</span><span>* Bubbles</span><span>  1. bunk</span><span>  2. bupkis</span><span>     * BELITTLER</span></code></pre>
</div>

<h3>Blockquotes</h3>
<div>
  <pre><code><span>> ## Header 2</span><span>> Email-style angle brackets</span></code></pre>
</div>

<h3>Horizontal Rules</h3>
<div>
  <pre><code><span>---</span></code></pre>
</div>

<h3>Code Spans</h3>
<div>
  <pre><code><span>```ruby</span><span>code insert here...</span><span>```</span></code></pre>
</div>

<h3>Languages List</h3>
<div>
  <a href="http://pygments.org/docs/lexers/" target="_blank">http://pygments.org/docs/lexers/</a>
</div>


