= simple_form_for(@course) do |f|
  = f.error_notification

  .form-inputs
    = f.input :category_id, collection: @course_categories.map { |c| [c.name, c.id] }, prompt: "Chooses a category"
    = f.input :title, input_html: { class: 'span12' }
    = f.input :description, input_html: { class: 'span12', rows: 5 }
    = f.input :tag_list, input_html: { class: 'span12' }
    #all_tags_for_course.all_tags.control-group
      .controls
        - @tags.each do |tag|
          = render :partial => 'shared/tag', :locals => { :tag_list => @course.tag_list, :tag => tag }

  .form-actions
    = f.button :submit
