%h3 Listing courses

%table.table.table-striped.table-bordered
  %tr
    %th.span9 Title
    %th

  - @courses.each do |course|
    %tr
      %td= course.title
      %td
        = link_to 'Show', course, class: 'btn btn-mini'
        = link_to 'Edit', edit_course_path(course), class: 'btn btn-mini' if authorize?
        / = link_to 'Destroy', course, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-mini btn-danger'

%p
  = link_to 'New Course', new_course_path, class: 'btn btn-mini btn-primary' if authorize?
