.article_title.clearfix
  %h1= @course.title
  = link_to content_tag(:span, content_tag(:i, nil, class: 'icon-edit icon-white') + ' Edit', class: 'label label-info'), edit_course_path(@course), class: "edit_article" if authorize?

.article_summary
  .summary= simple_format @course.description

.article_content
  .article_list
    %ul
      - @course.articles.each_with_index do |article, index|
        %li= link_to "##{index += 1} #{article.title}", article
