// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.article_title {
  border-bottom: 1px solid #E7E7E7;
  color: #3A3A3A;
  margin: 0;
  padding: 0 0 5px 0;

  h1 {
    float: left;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    color: #3A3A3A;
    text-decoration: none;
  } // .article_title h1
  a {
    &.edit_article {
      float: right;
      font-size: 12px;
      line-height: 24px;
    } // .article_title a.edit_article
    &.show_article {
      @extend .edit_article;
    } // .article_title a.show_article
    &.edit_article_content {
      @extend .edit_article;
      margin-right: 10px;
    } // .article_title a.edit_article_content
  } // .article_title a
}
.article_summary {
  .row { margin: 0; width: 100%; }
  .tags {
    float: left;
    color: #A4A4A4;
    font-size: 11px;
    line-height: 28px;
    font-weight: bold;
    a { font-weight: normal; }
  } // .article_summary .tags
  .download { float: right; font-size: 11px; line-height: 28px; } // .article_summary .download
  .summary {
    margin: 10px 0 15px;
    padding: 0 15px;
    background: url("bg-line-repeat.png") repeat scroll 0 0 transparent;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    color: #666;
    font-size: 12px;

    p { margin: 10px 0; }
  } // .article_summary .summary
} // .article_summary

.article_content {
  color: #464D3F;
  font-size: 14px;
  line-height: 22px;
  // font-family: Consolas,"Source Code Pro",Monaco,"Ubuntu Mono","Liberation Mono",Courier,'Wenquanyi Micro Hei Mono',monospace;

  h2, h3 {
    font-size: 16px;
    margin: 20px 0;
    padding-bottom: 5px;
    border-bottom: 1px dashed #E8E8E8;
    line-height: 24px;
  }
  h3 { margin: 5px 0; font-size: 16px; border-bottom: none; }
  strong {
    color: #BB1717;
    em {
      color: #6F8B42;
    }
  }
  div.highlight + h3, p + h3, ul + h3, ol + h3 {
    margin-top: 40px;
  }
  em { color: #CB7832;  }
  code { padding: 1px 4px;}
  ul {
    li {
      line-height: 22px;
      p { margin: 0; }
      ul li strong { color: #6F8B42; }
    } // li
  } // ul
  ol {
    li {
      line-height: 22px;
      p { margin: 0; }
    } // li
  } // ol

  blockquote {
    padding: 0 0 0 60px;
    background: url("blockquotes.png") no-repeat scroll left top transparent;
    border-left: 0;
    color: #979797;
    font-size: 12px;
    font-style: italic;

    .quote {
      padding: 0 5px;
      border: 1px solid #E8E8E8;
      border-width: 1px 0 1px;
      p {
        margin: 10px 0;
        font-size: 12px;
        line-height: 20px;
      }
    } //blockquote .quote
  } // blockquote
} // .article_content

.article_listing {
  h1 {
    padding: 0 0 5px 0;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    color: #3A3A3A;
    text-decoration: none;
    border-bottom: 1px solid #E7E7E7;
  }
  .article_wrap {
    padding: 10px;
    margin: 20px 0;
    border-radius: 7px;
    background-color: #f8f8f8;

    .image_warp {
      float: left;
      background: #FFF;
      padding: 5px;
      div { border: 1px solid #d7d7d7; }
      img { display: block; width: 100%; }
    }

    .article_title_wrap {
      font-size: 12px;
      line-height: 28px;

      h2 {
        margin: 0;
        font-size: 12px;
        float: left;
        line-height: 28px;
      }
      span {
        float: left;
        &.number { color: #a3a3a3; padding-right: 10px; }
        &.tags {
          margin-right: 10px; float: right; font-size: 11px; color: #2b776b;
          a { margin-right: 8px; }
        }
        &.date { float: right; font-size: 11px; font-style: italic; color: #a3a3a3; }
      }

    } // .article_wrap .article_title_wrap

    .article_summary_wrap {
      padding-top: 5px;
      border-top: 1px dashed #DDD;
      font-size: 12px;
      color: #666;
    } // .article_wrap .article_summary_wrap
  } // .article_wrap
} // .article_listing

.page_entries_info {
  font-size: 12px; font-style: italic; color: #a3a3a3;
} // .page_entries_info


// article form
form {
  .article_title { border-bottom: none; }
  .article_category_id { margin-top: 10px; }
}

#edit_content_footer {
  position: absolute;
  bottom: 0;
  height: 4%;   /* Height of the footer */
  width: 100%;
  text-align: center;
  background: #e9e6d9;
}
#edit_content_footer a { position: relative; color: #000; top: 5px; }
#edit_content_footer a.btn-primary { color: #FFF; }
.modal-body h3 { font-size: 14px; }
.modal-body pre code span { display:block; }
