// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.article_list {
  ul {
    margin-left: 0;
    li {
      padding-left: 20px;
      list-style: none;
      line-height: 30px;
    }
  }
}
