#footer_wrap {
  position: absolute;
  bottom: 0;
  height: 40px;   /* Height of the footer */
  width: 100%;
  
  background: none repeat scroll 0 0 #373332;
  border-bottom: 1px solid #413D3C;
  border-top: 10px solid #e9e6d9;
  
  #footer {
    color: #858585;
    border-top: 10px solid #272322;
    font-size: 11px;
    p {
      margin: 0 auto;      
      width: 96%;     
      line-height: 30px; 
    }
  } // #footer
}