/* https://github.com/richleland/pygments-css */
.highlight pre { background: #141414; color: #E6E1DC; }
.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #BC9458; font-style: italic} /* Comment */
.highlight .err { color: #E6E1DC} /* Error */
.highlight .g { color: #E6E1DC} /* Generic */
.highlight .k { color: #CC7833} /* Keyword */
.highlight .l { color: #E6E1DC} /* Literal */
.highlight .n { color: #E6E1DC} /* Name */
.highlight .o { color: #E6E1DC} /* Operator */
.highlight .x { color: #E6E1DC} /* Other */
.highlight .p { color: #E6E1DC} /* Punctuation */
.highlight .cm { color: #BC9458; font-style: italic} /* Comment.Multiline */
.highlight .cp { color: #CC7833} /* Comment.Preproc */
.highlight .c1 { color: #5F5A60; font-style: italic} /* Comment.Single. original color is #BC9458 */
.highlight .cs { color: #5F5A60; font-style: italic} /* Comment.Special. original color is #BC9458 */
.highlight .gd { color: #E6E1DC; background-color: #660000 } /* Generic.Deleted */
.highlight .ge { color: #E6E1DC} /* Generic.Emph */
.highlight .gr { color: #FFFFFF; background-color: #990000 } /* Generic.Error */
.highlight .gh { color: #FFFFFF} /* Generic.Heading */
.highlight .gi { color: #E6E1DC; background-color: #144212 } /* Generic.Inserted */
.highlight .go { color: #E6E1DC} /* Generic.Output */
.highlight .gp { color: #E6E1DC} /* Generic.Prompt */
.highlight .gs { color: #E6E1DC} /* Generic.Strong */
.highlight .gu { color: #FFFFFF} /* Generic.Subheading */
.highlight .gt { color: #E6E1DC} /* Generic.Traceback */
.highlight .kc { color: #CC7833} /* Keyword.Constant */
.highlight .kd { color: #CC7833} /* Keyword.Declaration */
.highlight .kn { color: #CC7833} /* Keyword.Namespace */
.highlight .kp { color: #CC7833} /* Keyword.Pseudo */
.highlight .kr { color: #CC7833} /* Keyword.Reserved */
.highlight .kt { color: #DA4939} /* Keyword.Type */
.highlight .ld { color: #E6E1DC} /* Literal.Date */
.highlight .m { color: #A5C261} /* Literal.Number */
.highlight .s { color: #A5C261} /* Literal.String */
.highlight .na { color: #FFC66D} /* Name.Attribute */
.highlight .nb { color: #E6E1DC} /* Name.Builtin */
.highlight .nc { color: #E6E1DC} /* Name.Class */
.highlight .no { color: #6D9CBE} /* Name.Constant */
.highlight .nd { color: #E6E1DC} /* Name.Decorator */
.highlight .ni { color: #E6E1DC} /* Name.Entity */
.highlight .ne { color: #E6E1DC} /* Name.Exception */
.highlight .nf { color: #FFC66D} /* Name.Function */
.highlight .nl { color: #E6E1DC} /* Name.Label */
.highlight .nn { color: #E6E1DC} /* Name.Namespace */
.highlight .nx { color: #E6E1DC} /* Name.Other */
.highlight .py { color: #E6E1DC} /* Name.Property */
.highlight .nt { color: #CC7833} /* Name.Tag */
.highlight .nv { color: #D0D0FF} /* Name.Variable */
.highlight .ow { color: #E6E1DC} /* Operator.Word */
.highlight .w { color: #E6E1DC} /* Text.Whitespace */
.highlight .mf { color: #A5C261} /* Literal.Number.Float */
.highlight .mh { color: #A5C261} /* Literal.Number.Hex */
.highlight .mi { color: #A5C261} /* Literal.Number.Integer */
.highlight .mo { color: #A5C261} /* Literal.Number.Oct */
.highlight .sb { color: #A5C261} /* Literal.String.Backtick */
.highlight .sc { color: #A5C261} /* Literal.String.Char */
.highlight .sd { color: #A5C261} /* Literal.String.Doc */
.highlight .s2 { color: #A5C261} /* Literal.String.Double */
.highlight .se { color: #A5C261} /* Literal.String.Escape */
.highlight .sh { color: #A5C261} /* Literal.String.Heredoc */
.highlight .si { color: #A5C261} /* Literal.String.Interpol */
.highlight .sx { color: #A5C261} /* Literal.String.Other */
.highlight .sr { color: #A5C261} /* Literal.String.Regex */
.highlight .s1 { color: #A5C261} /* Literal.String.Single */
.highlight .ss { color: #A5C261} /* Literal.String.Symbol */
.highlight .bp { color: #E6E1DC} /* Name.Builtin.Pseudo */
.highlight .vc { color: #D0D0FF} /* Name.Variable.Class */
.highlight .vg { color: #D0D0FF} /* Name.Variable.Global */
.highlight .vi { color: #D0D0FF} /* Name.Variable.Instance */
.highlight .il { color: #A5C261} /* Literal.Number.Integer.Long */

/* Code Fenced Blocks Pygments And Line Numbers With Jekyll */
/* https://github.com/leonardfactory/secret-blog/blob/master/_posts/2013-05-05-code-fenced-blocks-pygments-and-line-numbers-with-jekyll.md */
.highlight pre {
  padding: 0 40px;
  counter-reset: line-numbering;
  font-size: 14px;
  line-height: 20px;
  white-space: pre;
  font-family: monospace, 'Lucida Console', 'Courier New', Terminal, monospace;
  border-radius: 0;
  border: solid 1px #9f9f9f;
}

.highlight pre > span:before {
  position: absolute;
  left: 21px;
  width: 25px;
  padding-right: 5px;

  content: counter(line-numbering);
  counter-increment: line-numbering;
  color: #a3a3a3;
  background: #eee;
  text-align: right;
  font-size: 12px;
  border-right: solid 1px #9f9f9f;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
