#side_content {
  float: right;
  padding-bottom: 20px;
  h2 {
    margin: 0;
    padding: 0 15px;
    background-color: #AEA894;
    border: 1px solid #989077;
    font-size: 13px;
    line-height: 28px;
    color: #FFF;
  }
  ul {
    display: block;
    width: 100%;
    margin: 0;
    li {
      display: block;
      position: relative;
      border: 1px solid #DDD;
      border-top: 0;
      background-color: #FFF;

      a {
        display: block;
        padding-left: 15px;
        font-size: 12px;
        line-height: 28px;
        color: #424242;
        outline: none;
        text-decoration: none;
        font-weight: bold;
      } // ul li a

      span {
        position: absolute;
        z-index: 2;
        right: 5px;
        top: 5px;
      }
      &:hover {
        background-color: #f8f8f8;
      } // ul li:hover

      &.show_all {
        background-color: #f8f8f8;
        a {
          font-weight: normal;
          font-size: 10px;
          color: #c12d2d;
        }
        &:hover {
          background-color: #dfdfdf;
        } // ul li.show_all:hover
      }  // ul li.show_all
    } // ul li
  } // ul
  .syntax_cheatsheet {
    margin-bottom: 20px;

    span { display:block; }
    h2 {
      background-color: #bb1717;
      border-color: #7b160f;
    }
    .syntax_cheatsheet_content {
      background-color: #FFF;
      h3 {
        margin: 0;
        padding: 0 15px;
        font-size: 12px;
        line-height: 28px;
        border: 1px solid #DDD;
        border-top: 0;
        border-bottom: 0;
      }
      pre {
        background-color: #F5F5F5;
        border: 1px solid #DDD;
        border-radius: 0;
        font-size: 12px;
        line-height: 28px;
        margin-bottom: 0;
        padding: 0 15px;
      }
      code {
        font-size: 11px;
      }
    } // .syntax_cheatsheet .syntax_cheatsheet_content
  } // .syntax_cheatsheet

  .categories {
    margin-top: 20px;

    h2 {
      background-color: #bb1717;
      border-color: #7b160f;
    }
  } // .tags

  .tags {
    margin-top: 20px;

    h2 {
      border-color: #6f8b42;
      background-color: #8bad53;
    }
  } // .tags
}
