= simple_form_for(@category) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, input_html: { class: 'span6' }
    = f.input :type_name, :collection => Category::TYPES, prompt: "Select a type"

  .form-actions
    = f.button :submit