%h3 Listing categories

%table.table.table-striped.table-bordered
  %tr
    %th.span8 Name
    %th Type
    %th

  - @categories.each do |category|
    %tr
      %td= category.name
      %td= category.type_name
      %td
        = link_to 'Show', category, class: 'btn btn-mini'
        = link_to 'Edit', edit_category_path(category), class: 'btn btn-mini'
        = link_to 'Destroy', category, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-mini btn-danger'

%p
  = link_to 'New Category', new_category_path, class: 'btn btn-mini btn-primary'
