#side_content.span3
  - if show_syntax_cheatsheet?
    = render "layouts/syntax_cheatsheet"
  - if show_categories?
    .course_categories
      %h2 Course Categories
      %ul
        - @course_categories.each do |category|
          %li
            = link_to category.name, courses_path(category: category)
            %span.badge= category.courses.count
        %li.show_all= link_to "All Course", courses_path

    .categories
      %h2 Article Categories
      %ul
        - @article_categories.each do |category|
          %li
            = link_to category.name, articles_path(category: category)
            %span.badge= category.articles.count
        %li.show_all= link_to "All Articles", articles_path

    .tags
      %h2 Tags
      %ul
        - @tags.each do |tag|
          = link_with_tag(@articles, @courses, tag.name)
