<!DOCTYPE html>
<html>
<head>
  <title>CodeCollector</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= favicon_link_tag "favicon.ico" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div id="container">
    <%= render "layouts/header" %>
    <div id="content_wrap">
      <div id="content">
        <div class="container-fluid">
          <div class="row-fluid">
            <div id="main_content" class="span9">
              <!-- here is main content -->
              <%= yield %>
            </div>
            <%= render "layouts/sidebar" %>
          </div>
        </div>
      </div>
    </div><!-- #content_wrap -->
    <%= render "layouts/footer" %>
  </div>
  <%= javascript_include_tag "application" %>
</body>
</html>
